<label for=""></label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<input type="text" class="form-control" [(ngModel)]="serverName">
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">
  Add Server
</button>
<!-- <p>{{serverName}}</p> -->
<!-- <p>{{serverCreationStatus}}</p> -->
<p *ngIf="serverCreated;">Server was created, server name is {{serverName}}</p>
<!-- <ng-template #noServer>
  <p>
    No server was created
  </p>
</ng-template> -->

<app-server *ngFor="let server of servers"></app-server>
<!-- <button class="btn-primary btn" (click)="onPasswordToggle()">Display password</button>
<p *ngIf="displayPassword">Secret password: tuna</p>
<p *ngFor="let click of buttonClicksArray; let i = index" [ngClass]="{five: i >= 5}" [ngStyle]="{backgroundColor: i >= 5 ? 'blue' : 'transparent'}">{{click}}</p> -->

